<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đặt hàng</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
<h1>Đặt hàng</h1>

<form th:action="@{/cart/checkout}" th:object="${order}" method="post">
    <!-- Display customer information -->
    <div class="form-group">
        <label for="customerName">Tên khách hàng:</label>
        <input type="text" id="customerName" th:field="*{customerName}" class="form-control" required>
    </div>
    <div class="form-group mb-3">
        <label for="gender" class="form-label text-white">Giới tính:</label>
        <select id="gender" name="gender" th:field="*{gender}" class="form-select">
            <option th:each="gender : ${T(com.master.minieshop.enumeration.Gender).values()}"
                    th:value="${gender}"
                    th:text="${gender == T(com.master.minieshop.enumeration.Gender).Male ? 'Nam' : 'Nữ'}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="phoneNumber">Số điện thoại:</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="address">Địa chỉ:</label>
        <input type="text" id="address" th:field="*{address}" class="form-control" required>
    </div>
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{totalPrice}" />
    <input type="hidden" th:field="*{status}" />
    <input type="hidden" th:field="*{totalBill}" />
    <input type="hidden" th:field="*{createdAt}" />
    <input type="hidden" th:field="*{updatedAt}" />
    <!-- Add more fields for customer information (e.g., phoneNumber, address) if needed -->

    <!-- Display total bill -->
    <p>Tổng Hoá đơn: <span th:text="${order.totalBill}"></span></p>

    <!-- Add more fields for payment method if needed -->
    <div class="form-group">
        <label for="paymentMethod">Phương thức thanh toán:</label>
        <select id="paymentMethod" name="paymentMethod" th:field="*{paymentMethod}" class="form-select">
            <option th:each="paymentMethod : ${T(com.master.minieshop.enumeration.PaymentMethod).values()}"
                    th:value="${paymentMethod}" th:text="${paymentMethod}"></option>
        </select>
    </div>
    <!-- Add more payment method options if needed -->

    <!-- Add note field if needed -->
    <div class="form-group">
        <label for="note">Ghi chú:</label>
        <input type="text" id="note" th:field="*{note}" class="form-control" />
    </div>


    <!-- Display order details -->
    <label for="order-details">Chi tiết đơn hàng:</label>
    <table class="table" id="order-details">
        <thead>
        <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Tổng giá</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderDetail : ${order.orderDetails}">
            <td th:text="${orderDetail.product.name}"></td>
            <td th:text="${orderDetail.quantity}"></td>
            <td th:text="${orderDetail.totalPrice}"></td>
        </tr>
        </tbody>
    </table>

    <div class="mt-4">
        <button class="btn btn-primary" type="submit">Tiến hành thanh toán</button>
    </div>
</form>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
