<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách hoá đơn</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Danh sách hoá đơn</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Phương thức thanh toán</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Đơn giá:</th>
            <th scope="col">Giảm giá</th>
            <th scope="col">Phí vận chuyển</th>
            <th scope="col">Tổng hoá đơn</th>
            <th scope="col">Trạng thái</th>
<!--            <th scope="col">Hành động</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.customerName}"></td>
            <td th:text="${order.phoneNumber}"></td>
            <td th:text="${order.gender}"></td>
            <td th:text="${order.address}"></td>
            <td th:text="${order.paymentMethod}"></td>
            <td th:text="${order.note}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td th:text="${order.discountPrice}"></td>
            <td th:text="${order.shippingCost}"></td>
            <td th:text="${order.totalBill}"></td>
            <td th:text="${order.status}"></td>
<!--            <td>-->
<!--                <a th:href="@{/orders/details/{id}(id=${order.id})}">Chi tiết</a> |-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>
</html>
