<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>Cart</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
</head>

<body>
    <th:block th:replace="~{layout::header}"></th:block>
    <div class="container" th:if="${not #lists.isEmpty(cart.cartItems)}">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${cart.cartItems}">
                    <td th:text="${item.getProductId()}"></td>
                    <td th:text="${item.getProductName()}"></td>
                    <td>
                        <label>
                            <input type="number" min="1" th:value="${item.getQuantity()}"
                                th:attr="data-id=${item.getProductId()}" class="form-control quantity">
                        </label>
                    </td>
                    <td th:text="${item.getPrice()}"></td>
                    <td th:text="${item.getPrice() * item.getQuantity()}"></td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/cart/removeFromCart/{id}(id=${item.getProductId()})}">
                            Remove
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <h3>Total: <span th:text="${totalPrice}"></span></h3>
            </div>
            <div class="col-md-12 text-center">
                <a class="btn btn-success" th:href="@{/cart/checkout}">Checkout</a>
                <a class="btn btn-danger" th:href="@{/cart/clearCart}">Clear Cart</a>
            </div>
        </div>
    </div>
    <div class="container" th:if="${#lists.isEmpty(cart.cartItems)}">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h3 class="mt-5">Your cart is empty</h3>
                    <p class="lead">Please add some products to your cart</p>
                    <a class="btn btn-primary" href="/products">Go to list
                        product</a>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{layout::footer}"></th:block>
    <script th:src="@{/js/cart.js}"></script>
</body>

</html>