<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-4">
            <ul style="list-style-type: none;">
                <li th:unless="${image == null}">
                    <img class="border" th:src="${image.link}" th:alt="${image.title}"
                         style="width: 100%; height: auto"/>
                </li>
                <li th:if="${image == null}">
                    <img class="border" src="/pictures/categories/category-flan.png" alt="Default Image"
                         style="width: 100%; height: auto"/>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <h1 th:text="${product.title}" class="fw-bold"></h1>
            <div>3 <i class="bi bi-star-fill text-warning"></i> (1 đánh giá)
            </div>
            <h4 class="mt-2">
                <span th:text="${product.price}" class="fw-bold"></span> VND
            </h4>

            <h4 class="mt-4">Số lượng: </h4>
            <label>
                <input type="number" min="1" th:value="${1}"
                       th:attr="data-id=${product.id}" class="form-control" id="quantity">
            </label>

            <div class="form-action mt-2">
                <button type="submit" class="btn btn-primary" id="add-to-cart"><i class="bi bi-cart4"></i> THÊM VÀO GIỎ
                    HÀNG
                </button>
            </div>

            <p class="fst-italic fw-bold mt-2"><i class="bi bi-check-square-fill text-success"></i> Đảm bảo an toàn thực
                phẩm</p>

            <a class="fst-italic fw-bold mt-2" href="/home/about">Liên hệ cửa hàng</a>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3">
        <div class="card-header fw-bold">MÔ TẢ SẢN PHẨM</div>
        <div class="card-body">
            <p class="card-text" th:text="${product.description}"></p>
        </div>
    </div>
    <div class="comment-container">
        <div class="bg-info p-4">
            <h3 class="fw-bold">ĐÁNH GIÁ SẢN PHẨM</h3>
            <div sec:authorize="isAuthenticated()" class="form-control p-4">
                <label class="mb-2" for="comment-input">Bình luận: </label>
                <br/>
                <textarea class="w-100" id="comment-input" th:attr="data-id=${product.id}"
                          placeholder="Mời bạn bình luận, đánh giá về sản phẩm..."></textarea>
                <br/>

                <div class="mb-3 mb-2">
                    <label for="rate" class="form-label">Đánh giá: </label>
                    <input type="number" class="form-control" id="rate">
                </div>
                <div class="d-grid">
                    <button type="button" class="btn btn-success" id="submit-comment">GỬI ĐÁNH GIÁ</button>
                </div>
            </div>


            <div id="comments">
                <th:block th:each="comment : ${product.getComments()}">
                    <div class="card bg-light mt-2 mb-2">
                        <div class="card-body">
                            <div class="comment">
                                <div class="comment-header">
                                    <h3 th:text="${comment.user.getFullName()()}"></h3>
                                </div>
                                <div class="comment-body">
                                    <p>
                                        <strong>Đánh giá:</strong>
                                        <span th:text="${comment.rate}"></span>
                                        <i class="bi bi-star-fill text-warning"></i>
                                    </p>
                                    <hr/>
                                    <p th:text="${comment.content}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <div class="mt-4 mb-4">
        <a th:href="@{/products}" class="btn btn-secondary">Quay lại danh sách</a>
    </div>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
<script>
    $(document).ready(function () {
        $('#add-to-cart').click(function (event) {
            event.preventDefault();
            const quantityInput = $('#quantity');
            const quantity = quantityInput.val();
            const id = quantityInput.attr('data-id');
            $.ajax({
                url: '/api/cart/add-to-cart/' + id + '/' + quantity,
                type: 'GET',
                success: () => {
                    Snackbar.show({text: 'Thêm vào giỏ hàng thành công!'});
                }
            })
        })

        $('#submit-comment').click(function (event) {
            event.preventDefault();
            const commentInput = $('#comment-input');
            const content = commentInput.val();
            const productId = commentInput.attr('data-id');
            const rate = $('#rate').val();
            $.ajax({
                url: '/api/comments/' + productId + '/' + content + '/' + rate,
                type: 'GET',
                success: () => {
                    location.reload()
                }
            })
        })
    });

</script>
</body>
</html>
