<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tạo sản phẩm</title>
    <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>

<body>
<th:block th:replace="./admin/layout :: header"></th:block>
<div class="container">
    <form th:action="@{/admin/products/create}" th:object="${createProductDto}" method="post"
          enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Tên sản phẩm:</label>
            <input type="text" id="title" th:field="*{product.title}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="name">Tên đặc trưng:</label>
            <input type="text" id="name" th:field="*{product.name}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="price">Giá:</label>
            <input type="number" id="price" th:field="*{product.price}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Mô tả:</label>
            <textarea id="description" th:field="*{product.description}" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="status">Tình trạng:</label>
            <select id="status" name="status" th:field="*{product.status}" class="form-select">
                <option th:each="status : ${T(com.master.minieshop.enumeration.ProductStatus).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="category">Danh mục:</label>
            <select id="category" th:field="*{product.category.id}" class="form-control" required>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="image-title">Hình ảnh:</label>
            <input type="text" id="image-title" th:field="*{imageUpload.title}" class="form-control">
        </div>
        <div class="form-group">
            <input type="file" th:field="*{imageUpload.file}" class="form-control-file">
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Tạo</button>
        </div>
    </form>
</div>
<th:block th:replace="./admin/layout :: footer"></th:block>
<th:block th:replace="./admin/layout :: script"></th:block>
</body>

</html>