<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Xóa sản phẩm</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>

<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Xóa sản phẩm</h1>
  <p>Bạn có muốn xóa sản phẩm này không ?</p>
  <form th:action="@{/admin/products/delete/{id}(id=${product.id})}" method="post">
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a th:href="@{/admin/products}" class="btn btn-secondary">Hủy</a>
  </form>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>

</html>