<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chi tiết sản phẩm</title>
  <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>

<body>
<th:block th:replace="./admin/layout :: header"></th:block>
<div class="container">
  <h1>Chỉ tiết sản phẩm</h1>
  <table>
    <tr>
      <th>Tên sản phẩm:</th>
      <td th:text="${product.title}"></td>
    </tr>
    <tr>
      <th>Tên đặc trưng:</th>
      <td th:text="${product.name}"></td>
    </tr>
    <tr>
      <th>Mô tả:</th>
      <td th:text="${product.description}"></td>
    </tr>
    <tr>
      <th>Tình trạng:</th>
      <td th:text="${product.status}"></td>
    </tr>
    <tr>
      <th>Giá:</th>
      <td th:text="${product.price}"></td>
    </tr>
    <tr>
      <th>Danh mục:</th>
      <td th:text="${product.category.name}"></td>
    </tr>
  </table>
  <ul>
    <th:block th:each="image : ${images}">
      <li>
        <img th:src="${image.link}" th:alt="${image.title}" />
      </li>
    </th:block>
  </ul>
  <div class="mt-4">
    <a th:href="@{/admin/products/edit/{id}(id=${product.id})}" class="btn btn-primary">Chỉnh sửa</a>
    <a th:href="@{/admin/products}" class="btn btn-secondary">Quay lại</a>
  </div>
  <th:block th:replace="./admin/layout :: footer"></th:block>
  <th:block th:replace="./admin/layout :: script"></th:block>
</body>

</html>