<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Product Details</title>
  <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>

<body>
  <th:block th:replace="./admin/layout :: header"></th:block>
  <div class="container">
    <h1>Product Details</h1>
    <table>
      <tr>
        <th>Title:</th>
        <td th:text="${product.title}"></td>
      </tr>
      <tr>
        <th>Name:</th>
        <td th:text="${product.name}"></td>
      </tr>
      <tr>
        <th>Description:</th>
        <td th:text="${product.description}"></td>
      </tr>
      <tr>
        <th>Status:</th>
        <td th:text="${product.status}"></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td th:text="${product.price}"></td>
      </tr>
      <tr>
        <th>Category:</th>
        <td th:text="${product.category.name}"></td>
      </tr>
    </table>
    <ul>
      <th:block th:each="image : ${images}">
        <li>
          <img th:src="${image.link}" th:alt="${image.title}" />
        </li>
      </th:block>
    </ul>
    <div class="mt-4">
      <a th:href="@{/admin/products/edit/{id}(id=${product.id})}" class="btn btn-primary">Edit</a>
      <a th:href="@{/admin/products}" class="btn btn-secondary">Back to List</a>
    </div>
  </div>
  <th:block th:replace="./admin/layout :: footer"></th:block>
  <th:block th:replace="./admin/layout :: script"></th:block>
</body>

</html>