<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit Product</title>
  <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>

<body>
  <th:block th:replace="./admin/layout :: header"></th:block>
  <div class="container">
    <h1>Edit Product</h1>
    <form th:action="@{/admin/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}" class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" th:field="*{price}" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" name="status" th:field="*{status}" class="form-select">
          <option th:each="status : ${T(com.master.minieshop.enumeration.ProductStatus).values()}" th:value="${status}"
            th:text="${status}"></option>
        </select>
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" th:field="*{category.id}" class="form-control" required>
          <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
      </div>
      <div class="mt-4">
        <button type="submit" class="btn btn-primary">Update</button>
        <a th:href="@{/admin/products}" class="btn btn-secondary">Back to List</a>
      </div>
    </form>
  </div>
  <th:block th:replace="./admin/layout :: footer"></th:block>
  <th:block th:replace="./admin/layout :: script"></th:block>
</body>

</html>