<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
    <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>

<body>
<th:block th:replace="./admin/layout :: header"></th:block>
<div class="container">
    <h1>Danh sách sản phẩm</h1>
    <a th:href="@{/admin/products/create}">Tạo sản phẩm</a>
    <table class="table">
        <thead style="text-align: center">
        <tr>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Tên đặc trưng</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Giá</th>
            <th scope="col">Danh mục</th>
            <th scope="col">Hành động</th>
        </tr>
        </thead>
        <tbody style="text-align: center">
        <tr th:each="product : ${products}">
            <td th:text="${product.title}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.status}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category.name}"></td>
            <td>
                <a th:href="@{/admin/products/details/{id}(id=${product.id})}">Chi tiết</a> |
                <a th:href="@{/admin/products/edit/{id}(id=${product.id})}">Chỉnh sửa</a> |
                <a th:href="@{/admin/products/delete/{id}(id=${product.id})}">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="./admin/layout :: footer"></th:block>
<th:block th:replace="./admin/layout :: script"></th:block>
</body>

</html>