<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Xoá bình luận</title>
  <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>

<body>
  <th:block th:replace="./admin/layout :: header"></th:block>
  <div class="container">
    <h1>Delete Comment</h1>
    <p>Bạn có thật sự muốn xoá bình luận này?</p>
    <form th:action="@{/admin/comments/delete/{id}(id=${comment.id})}" method="post">
      <button type="submit" class="btn btn-danger">Xoá</button>
      <a th:href="@{/admin/comments}" class="btn btn-secondary">Huỷ</a>
    </form>
  </div>
  <th:block th:replace="./admin/layout :: footer"></th:block>
  <th:block th:replace="./admin/layout :: script"></th:block>
</body>

</html>