<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quên mật khẩu</title>
  <th:block th:replace="~{layout :: link-css}"></th:block>
  <script>
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("password");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
  </script>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
  <div>
    <h2 class="text-center fw-bold mt-4 mb-2">QUÊN MẬT KHẨU</h2>
  </div>

  <div th:if="${error != null}">
    <p class="text-danger">[[${error}]]</p>
  </div>
  <div th:if="${message != null}">
    <p class="text-warning">[[${message}]]</p>
  </div>

  <form th:action="@{/forgot_password}" method="post" style="max-width: 500px; margin: 0 auto;">
    <div class="border border-secondary rounded p-3 bg-secondary">
      <div>
        <p>Chúng tôi sẽ gửi đường dẫn khôi phục mật khẩu tới <strong>email của bạn</strong>!</p>
      </div>
      <div>
          <label for="email">Email: </label>
        <p>
          <input type="email" name="email" id="email" class="form-control" placeholder="Nhập email của bạn" required autofocus/>
        </p>
        <p class="text-center">
          <input type="submit" value="GỬI EMAIL" class="btn btn-primary" />
        </p>
      </div>
    </div>
  </form>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>