<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
    <div class="card bg-dark mt-4">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <h1 class="card-title text-center text-white"><strong>ĐĂNG NHẬP</strong></h1>
                    <form th:action="@{/login}" method="post">
                        <fieldset>
                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid username and password
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success">
                                You have been logged out.
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label text-white"><i class="bi bi-person-circle"></i>
                                    &nbsp;Tên Đăng Nhập:</label>
                                <input type="text" required class="form-control" id="username" name="username"
                                       placeholder="Nhập tên đăng nhập của bạn tại đây!">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label text-white"><i
                                        class="bi bi-shield-lock-fill"></i>&nbsp;Mật Khẩu:</label>
                                <div class="input-group">
                                    <input type="password" required class="form-control" id="password" name="password"
                                           placeholder="Nhập mật khẩu của bạn tại đây!">
                                    <button type="button" class="btn btn-primary" onclick="togglePasswordVisibility()">
                                        <i class="bi bi-eye-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="checkbox" id="remember-me" name="remember-me">
                                <label for="remember-me" class="text-white">&nbsp;Nhớ đăng nhập</label>
                            </div>
                            <div class="d-grid gap-2 form-action">
                                <button type="submit" class="btn btn-primary">ĐĂNG NHẬP NGAY</button>
                                <p class="text-white text-center">Bạn chưa có tài khoản? <a
                                        class="fw-bold fst-italic text-info"
                                        href="/register">Đăng ký
                                    ngay</a></p>
                                <p class="text-white text-center"><a
                                        class="fw-bold fst-italic text-info"
                                        href="/forgot_password">Quên mật khẩu</a></p>
                                <hr/>
                                <a href="/oauth2/authorization/google" class="btn btn-danger btn-floating m-1"
                                   role="button">
                                    <i class="bi bi-google"></i>&nbsp;Đăng Nhập Với Google
                                </a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>