<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
    <div class="card bg-dark mt-4">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <h1 class="card-title text-center text-white"><strong>ĐĂNG KÝ</strong></h1>
                    <div th:action="@{/register}" th:object="${user}" method="post">
                        <div class="mb-3">
                            <label for="fullName" class="form-label text-white">Họ tên:</label>
                            <span class="text-danger">*</span>
                            <input type="text" class="form-control" id="fullName" th:field="*{fullName}"
                                   placeholder="Nhập họ tên!">
                            <span class="text-danger" th:if="${#fields.hasErrors('fullName')}"
                                  th:errors="*{fullName}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label text-white">Email:</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}"
                                   placeholder="Nhập email!">
                            <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label text-white">Số điện thoại:</label>
                            <span class="text-danger">*</span>
                            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"
                                   placeholder="Nhập số điện thoại!">
                            <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                                  th:errors="*{phoneNumber}"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="gender" class="form-label text-white">Giới tính:</label>
                            <select id="gender" name="gender" th:field="*{gender}" class="form-select">
                                <option th:each="gender : ${T(com.master.minieshop.enumeration.Gender).values()}"
                                        th:value="${gender}"
                                        th:text="${gender == T(com.master.minieshop.enumeration.Gender).Male ? 'Nam' : 'Nữ'}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="userName" class="form-label text-white">Tên đăng nhập:</label>
                            <span class="text-danger">*</span>
                            <input type="text" class="form-control" id="userName" th:field="*{userName}"
                                   placeholder="Nhập tên đăng nhập!">
                            <span class="text-danger" th:if="${#fields.hasErrors('userName')}"
                                  th:errors="*{userName}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label text-white">Mật khẩu:</label>
                            <span class="text-danger">*</span>

                            <div class="input-group">
                                <input type="password" class="form-control" id="password" th:field="*{password}"
                                       placeholder="Nhập mật khẩu!">
                                <button type="button" class="btn btn-primary" onclick="togglePasswordVisibility()">
                                    <i class="bi bi-eye-fill"></i>
                                </button>
                            </div>
                            <span class="text-danger" th:if="${#fields.hasErrors('password')}"
                                  th:errors="*{password}"></span>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">ĐĂNG KÝ NGAY</button>
                            <p class="text-white text-center">Bạn đã có tài khoản? <a
                                    class="fw-bold fst-italic text-info"
                                    href="/login">Đăng nhập
                                ngay</a></p>
                            <hr/>
                            <a href="/oauth2/authorization/google" class="btn btn-danger btn-floating m-1"
                               role="button">
                                <i class="bi bi-google"></i>&nbsp;Đăng Ký Với Google
                            </a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>