<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>User Details</h1>
    <table>
        <tr>
            <th>Full Name:</th>
            <td th:text="${userD.fullName}"></td>
        </tr>
        <tr>
            <th>Username:</th>
            <td th:text="${userD.userName}"></td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td th:text="${userD.gender}"></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td th:text="${userD.email}"></td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td th:text="${userD.phoneNumber}"></td>
        </tr>
    </table>
    <div class="mt-4">
    </div>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>
</html>
