<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Thông tin ngươi dùng</h1>
    <table>
        <tr>
            <th>Họ và tên:</th>
            <td th:text="${userD.fullName}"></td>
        </tr>
        <tr>
            <th>Tên đăng nhập:</th>
            <td th:text="${userD.userName}"></td>
        </tr>
        <tr>
            <th>Giới tính:</th>
            <td th:text="${userD.gender}"></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td th:text="${userD.email}"></td>
        </tr>
        <tr>
            <th>Số điện thoại:</th>
            <td th:text="${userD.phoneNumber}"></td>
        </tr>
    </table>
    <a th:href="@{/edit-user/{username}(username=${userD.userName})}">Chỉnh sửa</a>
    <div class="mt-4">
    </div>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>
</html>
