<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xóa hình ảnh</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Xóa hình ảnh</h1>
  <p>Bạn có muốn xóa hình ảnh này không ?</p>
  <form th:action="@{/admin/images/delete/{id}(id=${image.id})}" method="post">
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a th:href="@{/admin/images}" class="btn btn-secondary">Quay lại</a>
  </form>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>
</html>
