<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Danh sách hình ảnh</title>
  <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="./admin/layout :: header"></th:block>
<div class="container">
  <h1>Danh sách hình ảnh</h1>
  <a th:href="@{/admin/images/create}">Create Image</a>
  <table class="table">
    <thead style="text-align: center">
    <tr>
      <th scope="col">Tên hình</th>
      <th scope="col">Liên kết</th>
      <th scope="col">Tình trạng</th>
      <th scope="col">Sản phẩm</th>
      <th scope="col">Hành động</th>

    </tr>
    </thead>
    <tbody style="text-align: center">
    <tr th:each="image : ${images}">
      <td th:text="${image.title}"></td>
      <td th:text="${image.link}"></td>
      <td th:text="${image.status}"></td>
      <td th:text="${image.product.name}"></td>
      <td>
        <a th:href="@{/admin/images/details/{id}(id=${image.id})}">Chi tiết</a> |
        <a th:href="@{/admin/images/edit/{id}(id=${image.id})}">Chỉnh sửa</a> |
        <a th:href="@{/admin/images/delete/{id}(id=${image.id})}">Xóa</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<th:block th:replace="./admin/layout :: footer"></th:block>
<th:block th:replace="./admin/layout :: script"></th:block>
</body>

</html>