<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- Header -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Minie Shop Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/images">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/promotions">Promotions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div th:insert="~{::${content}}">
    <!--    NOI DUNG TRANG CON-->
</div>

<!-- Footer -->
<footer th:fragment="footer" class="bg-light py-3 text-center fixed-bottom">
    <p>© 2023 Minie Shop. All Rights Reserved.</p>
</footer>

<!-- Scripts -->
<script th:fragment="script" src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
