<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Promotion</title>
    <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>

<body>
    <th:block th:replace="./admin/layout :: header"></th:block>
    <div class="container">
        <h1>Create Promotion</h1>
        <form th:action="@{/admin/promotions/create}" th:object="${promotion}" method="post">
            <div class="form-group">
                <label for="code">Code:</label>
                <input type="text" id="code" th:field="*{code}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" th:field="*{title}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="value">Value:</label>
                <input type="text" id="value" th:field="*{value}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" th:field="*{quantity}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="remain">Remain:</label>
                <input type="number" id="remain" th:field="*{remain}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="status">Status:</label>
                <select id="status" name="status" th:field="*{status}" class="form-select">
                    <option th:each="status : ${T(com.master.minieshop.enumeration.PromotionStatus).values()}"
                        th:value="${status}" th:text="${status}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <select id="type" name="type" th:field="*{type}" class="form-select">
                    <option th:each="type : ${T(com.master.minieshop.enumeration.PromotionType).values()}"
                        th:value="${type}" th:text="${type}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="startedAt">Started At:</label>
                <input type="date" id="startedAt" th:field="*{startedAt}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="endedAt">Ended At:</label>
                <input type="date" id="endedAt" th:field="*{endedAt}" class="form-control" required>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    <th:block th:replace="./admin/layout :: footer"></th:block>
    <th:block th:replace="./admin/layout :: script"></th:block>
</body>

</html>