<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Promotion</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Delete Promotion</h1>
    <p>Are you sure you want to delete this promotion?</p>
    <form th:action="@{/admin/promotions/delete/{id}(id=${promotion.id})}" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a th:href="@{/admin/promotions}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>
</html>
