<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chi tiết khuyến mãi</title>
    <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>

<body>
<th:block th:replace="./admin/layout :: header"></th:block>
<div class="container">
    <h1>Chi tiết khuyến mãi</h1>
    <table>
        <tr>
            <th>Mã Code:</th>
            <td th:text="${promotion.code}"></td>
        </tr>
        <tr>
            <th>Tên:</th>
            <td th:text="${promotion.title}"></td>
        </tr>
        <tr>
            <th>Giá trị:</th>
            <td th:text="${promotion.value}"></td>
        </tr>
        <tr>
            <th>Số lượng:</th>
            <td th:text="${promotion.quantity}"></td>
        </tr>
        <tr>
            <th>Còn lại:</th>
            <td th:text="${promotion.remain}"></td>
        </tr>
        <tr>
            <th>Tình trạng:</th>
            <td th:text="${promotion.status}"></td>
        </tr>
        <tr>
            <th>Loại:</th>
            <td th:text="${promotion.type}"></td>
        </tr>
        <tr>
            <th>Từ ngày:</th>
            <td th:text="${promotion.startedAt}"></td>
        </tr>
        <tr>
            <th>Đến ngày:</th>
            <td th:text="${promotion.endedAt}"></td>
        </tr>
    </table>
    <div class="mt-4">
        <a th:href="@{/admin/promotions/edit/{id}(id=${promotion.id})}" class="btn btn-primary">Chỉnh sửa</a>
        <a th:href="@{/admin/promotions}" class="btn btn-secondary">Quay lại</a>
    </div>
    <th:block th:replace="./admin/layout :: footer"></th:block>
    <th:block th:replace="./admin/layout :: script"></th:block>
</body>

</html>