<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa khuyến mãi</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>

<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Chỉnh sửa khuyến mãi</h1>
    <form th:action="@{/admin/promotions/edit/{id}(id=${promotion.id})}" th:object="${promotion}" method="post">
        <div class="form-group">
            <label for="code">Mã Code:</label>
            <input type="text" id="code" th:field="*{code}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="title">Tên:</label>
            <input type="text" id="title" th:field="*{title}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="value">Giá trị:</label>
            <input type="text" id="value" th:field="*{value}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="quantity">Số lượng:</label>
            <input type="number" id="quantity" th:field="*{quantity}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="remain">Còn lại:</label>
            <input type="number" id="remain" th:field="*{remain}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="status">Tình trạng:</label>
            <select id="status" name="status" th:field="*{status}" class="form-select">
                <option th:each="status : ${T(com.master.minieshop.enumeration.PromotionStatus).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="type">Loại:</label>
            <select id="type" name="type" th:field="*{type}" class="form-select">
                <option th:each="type : ${T(com.master.minieshop.enumeration.PromotionType).values()}"
                        th:value="${type}" th:text="${type}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="startedAt">Từ ngày:</label>
            <input type="date" id="startedAt" th:field="*{startedAt}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="endedAt">Đến ngày:</label>
            <input type="date" id="endedAt" th:field="*{endedAt}" class="form-control" required>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a th:href="@{/admin/promotions}" class="btn btn-secondary">Quay lại</a>
        </div>
    </form>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>

</html>