<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minie Shop</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <div class="mt-4 mb-4">
        <h1 class="text-center fw-bold">CHƯƠNG TRÌNH KHUYẾN MÃI</h1>
        <div class="card mb-3 bg-primary">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body text-center mt-2">
                        <h1 class="card-title text-white"><strong>KHÁCH HÀNG THÀNH VIÊN</strong></h1>
                        <h3 class="card-text text-white">Tích điểm nhận voucher giảm giá trên 50%</h3>
                        <button class="btn btn-light mt-2">Tìm Hiểu Thêm</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/pictures/banners/minieshop-banner-1.png" class="img-fluid rounded-start"
                         alt="Minie Shop Banner">
                </div>
            </div>
        </div>
        <div class="card mb-3 bg-primary">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/pictures/banners/minieshop-banner-3.png" class="img-fluid rounded-start"
                         alt="Minie Shop Banner">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-center mt-2">
                        <h1 class="card-title text-white"><strong>MÙA HÈ SÔI ĐỘNG</strong></h1>
                        <h3 class="card-text text-white">Săn voucher mùa hè giảm đến 70%!!!</h3>
                        <button class="btn btn-light mt-2">Tìm Hiểu Thêm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 bg-primary">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body text-center mt-2">
                        <h1 class="card-title text-white"><strong>CHECK IN NHẬN QUÀ</strong></h1>
                        <h3 class="card-text text-white">Check in bóc thăm trúng thưởng nhận voucher!</h3>
                        <button class="btn btn-light mt-2">Tìm Hiểu Thêm</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/pictures/banners/minieshop-banner-2.png" class="img-fluid rounded-start"
                         alt="Minie Shop Banner">
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
