<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xóa đơn hàng</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Xóa đơn hàng</h1>
  <p>Bạn có chắc muốn xóa đơn hàng này ?</p>
  <form th:action="@{/admin/orders/delete/{id}(id=${order.id})}" method="post">
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a th:href="@{/admin/orders}" class="btn btn-secondary">Hủy</a>
  </form>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>
</html>
