<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-6 d-flex align-items-stretch">
            <div class="card bg-primary p-4 w-100">
                <div class="card-body">
                    <h1 class="text-white text-center fw-bold">THÔNG TIN LIÊN HỆ</h1>
                    <h4 class="text-white"><strong>Hotline:</strong> 08 7777 1111</h4>
                    <h4 class="text-white"><strong>Email:</strong> admin@minie.com</h4>
                    <div class="d-grid">
                        <a class="btn btn-info" href="/home/aboutShop">XEM CỬA HÀNG</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex align-items-stretch">
            <div class="card bg-primary p-4 w-100">
                <div class="card-body">
                    <h1 class="text-white text-center fw-bold">LIÊN HỆ & GÓP Ý</h1>
                    <h6 class="fst-italic fw-bold text-white text-center">Để lại lời nhắn trực tiếp cho chúng tôi tại
                        trang web</h6>
                    <form action="" method="post">
                        <div class="mb-3">
                            <label for="fullName" class="form-label text-white">Họ tên (bắt buộc)</label>
                            <input type="text" class="form-control" id="fullName" name="fullName" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label text-white">Email (bắt buộc)</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label text-white">Lời nhắn</label>
                            <textarea class="form-control" id="message" name="message"></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-info">GỬI LỜI NHẮN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container py-5">
        <div class="row  h-100 align-items-center py-5">
            <h1 class="text-center display-1">ABOUT US</h1>
        </div>
    </div>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="card-group">
    <div class="card">
        <h5 class="card-header text-center">Vo Thuong Truong Nhon</h5>
        <img class="card-img-top" src="/pictures/VoThuongTruongNhon.jpg" alt="Card image cap">
        <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
            <p class="card-title">MSSV</p>
            <p>Member</p>
            <a href="" target="_blank" class="btn btn-primary">More</a>

        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-center">Truong Thuc Van</h5>
        <img class="card-img-top" src="/pictures/team/TruongThucVan.jpg" alt="Card image cap">
        <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
            <p class="card-title">2080600803</p>
            <p>Member</p>
            <a href="https://www.facebook.com/misa.truong.16" target="_blank" class="btn btn-primary">More</a>

        </div>

    </div>
    <div class="card">

        <h5 class="card-header text-center">Nguyen Hong Thai</h5>
        <img class="card-img-top" src="/pictures/team/NguyenHongThai.jpg" alt="Card image cap">
        <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
            <p class="card-title">2080600914</p>
            <p>Leader</p>
            <a href="https://www.facebook.com/thai.nguyenhong.587606" target="_blank" class="btn btn-primary">More</a>

        </div>

    </div>
    <div class="card">

        <h5 class="card-header text-center">Bui Thanh Dat</h5>
        <img class="card-img-top" src="/pictures/team/BuiThanhDat.jpg" alt="Card image cap">
        <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
            <p class="card-title">2011063152</p>
            <p>Member</p>
            <a href="https://www.facebook.com/buidat.shiro" target="_blank" class="btn btn-primary">More</a>

        </div>

    </div>


</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>