<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minie Shop</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Chào mừng đến với Trang Quản Trị của MINIE SHOP!</h1>
    <p>Nội dung mô tả...</p>

    <!-- Example of accessing dynamic data from the Spring model -->
    <!--    <p th:text="${message}"></p>-->
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>