<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Danh sách sản phẩm</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>

<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Sản phẩm trong danh mục</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Tên đặc trưng</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Tình trạng</th>
      <th scope="col">Giá</th>
      <th scope="col">Danh mục</th>
      <th scope="col">Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.title}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.description}"></td>
      <td th:text="${product.status}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.category.name}"></td>
      <td>
        <a th:href="@{/admin/categories}" class="btn btn-secondary">Quay lại</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>

</html>