<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create Category</title>
  <th:block th:replace="./admin/layout :: link-css"></th:block>
</head>

<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Tạo danh mục</h1>
  <form th:action="@{/admin/categories/create}" th:object="${category}" method="post">
    <div class="form-group">
      <label for="title">Tên danh mục:</label>
      <input type="text" id="title" th:field="*{title}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="name">Tên đặc trưng:</label>
      <input type="text" id="name" th:field="*{name}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Mô tả:</label>
      <textarea id="description" th:field="*{description}" class="form-control" required></textarea>
    </div>
    <div class="form-group">
      <label for="status">Tình trạng:</label>
      <select id="status" name="status" th:field="*{status}" class="form-select">
        <option th:each="status : ${T(com.master.minieshop.enumeration.ProductStatus).values()}"
                th:value="${status}" th:text="${status}"></option>
      </select>
    </div>
    <div class="mt-4">
      <button type="submit" class="btn btn-primary">Tạo</button>
    </div>
  </form>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>

</html>