<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chi tiết danh mục</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Chi tiết danh mục</h1>
  <table>
    <tr>
      <th>Tên danh mục:</th>
      <td th:text="${category.title}"></td>
    </tr>
    <tr>
      <th>Tên đặc trưng:</th>
      <td th:text="${category.name}"></td>
    </tr>
    <tr>
      <th>Mô tả:</th>
      <td th:text="${category.description}"></td>
    </tr>
    <tr>
      <th>Tình trạng:</th>
      <td th:text="${category.status}"></td>
    </tr>
  </table>
  <div class="mt-4">
    <a th:href="@{/admin/categories/edit/{id}(id=${category.id})}" class="btn btn-primary">Chỉnh sửa</a>
    <a th:href="@{/admin/categories}" class="btn btn-secondary">Quay lại</a>
  </div>
</div>
<th:block th:replace="layout :: footer"></th:block>
<th:block th:replace="layout :: script"></th:block>
</body>
</html>
